<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EPITA International Week - 2016{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <p><b>EPITA International Week - 2016 Registrations have been closed!!!</b></p> 
            <p>Any questions : Write to us at epitaevents2016@gmail.com</p>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
